// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #137191 !default;
$header-bg-color-secondary: #023444 !default;

// Text
$section-headings-color: #222 !default;
$body-text-color: #555 !default;
$body-link-color: #137191 !default;

// Borders
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
