<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <div class="btn-group-flex">
        <a href="{{ site.paper_url }}" class="btn"><img src="assets/images/icons/paper.svg" class="icon-paper"/>Paper</a>
        <a href="{{ site.dataset_url }}" class="btn"><img src="assets/images/icons/dataset.svg" class="icon-dataset"/>H3DS dataset</a>
      </div>
      <div class="authors">
        <p class="authors__name">Eduard Ramon<sup>1,2</sup></p>,
        <p class="authors__name">Gil Triginer<sup>1</sup></p>,
        <p class="authors__name">Janna Escur<sup>1</sup></p>,
        <p class="authors__name">Albert Pumarola<sup>3</sup></p>,
        <p class="authors__name">Jaime Garcia<sup>1</sup></p>,
        <p class="authors__name">Xavier Giro-i-Nieto<sup>2,3</sup></p>,
        <p class="authors__name">Francesc Moreno-Noguer<sup>3</sup></p>
      </div>
      <div class="affiliations">
        <p class="affiliation__name"><sup>1</sup>Crisalix SA</p>,
        <p class="affiliation__name"><sup>2</sup>Universitat Politècnica de Catalunya</p>,
        <p class="affiliation__name"><sup>3</sup>Institut de Robòtica i Informàtica Industrial, CSIC-UPC</p>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        © Crisalix {{ site.time | date: '%Y' }}
      </footer>
    </main>
  </body>
</html>
